{# 	
	Keosu is an open source CMS for mobile app
	Copyright (C) 2014  Vincent Le Borgne, Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}
{% extends 'KeosuCoreBundle:MainViews:configuration.html.twig' %}

{% block title %}Edit App{% endblock %}

{% block body %}
<script type="text/javascript">
	$(document).ready(function() {
		$( ".radio" ).each(function( index ) {
			input = $(this).find('input');
			themeName=input.attr('value');
			input.attr('id',themeName);
			img='<label for="'+themeName+'"><img alt="'+themeName+'" src="{{url_base}}/{{ themeDir }}'+themeName+'/'+themeName+'.png"/></label>';
			
			$( this ).text("");
			$( this ).append(input);
			$( this ).append(img);
		});

		$(".imgtheme input[checked=checked]").parent(".radio").find("img").css("border","red solid 3px");
		
		// switch border color
		$(".imgtheme img").click(function(){
			$(".imgtheme img").css("border","none");
			$(this).css("border","red solid 3px");
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		
		function openInput($el){
			$el.parent().parent().find('input[type="file"]')[ 0 ].click();
		}
		 
		$(document).on("click",'.uploader',function() {
			 	openInput($(this));
			    return false;
		 });

		$(document).on("change",'input[type="file"]',function() {
			if (this.files &&  this.files[0]) {
	            var reader = new FileReader();
	            el= $(this);
	            reader.onload = function (e) {
	            	$('#img-preview').attr('src', e.target.result).show();
	            }
	            reader.readAsDataURL(this.files[0]);
	        }
		});
		
		
	});
	</script>
<style type="text/css">
.imgtheme .radio {
	display:inline;
	padding-left:0px;
	padding-right:10px;
}
.imgtheme img {
	height:250px;
}
.imgtheme .radio input[type="radio"]{
	display:none;
}
</style>
<div class="panel">
	<div class="row">
		
		<div class="col-md-12">
			{% if firstApp %}
			<div class="alert alert-success">
				<strong>Welcome to Keosu!</strong>
				To start, create your first app
			</div>
			{% endif %}
			<div class="panel">
				<h1>Edit App</h1>
				{{ form_start(form) }}
					{{ form_errors(form) }}

					{{ form_row(form.name) }}
					{{ form_row(form.packageName) }}
					{{ form_row(form.description) }}
					{{ form_row(form.author) }}
					{{ form_row(form.website) }}
					{{ form_row(form.email) }}

					<div class="imgtheme">
						{{ form_row(form.theme) }}
					</div>

					{{ form_row(form.debugMode) }}
					<div class="row">
						<div class="col-lg-9 col-lg-push-3">
							<span class="help-block">This param allow to debug your app with <a href="https://people.apache.org/~pmuellr/weinre/docs/latest/Home.html">Weinre</a> on the port 8080.</span>
						</div>
					</div>

					<!-- TODO -->
					<div class="row">
						<div class="col-lg-9 col-lg-push-3">
							<span class="help-block">The three facebook field are only required if you plan to use facebook on your application. You can get the two required information <a href="https://developers.facebook.com/?ref=pf">here</a>.</span>
						</div>
					</div>
					

					
					{% include 'KeosuCoreBundle:App:editConfigParameters.html.twig' %}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
