{# 	
	Keosu is an open source CMS for mobile app
	Copyright (C) 2016  Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}

<style>
    .preview{
        max-height: 200px;
    }
</style>

<h4>Splashscreens Android</h4>

<div class="col-lg-3 configurelabel">
    320x436
</div>
<div id="A320x436">
    <img class="preview" id="previewA320x436" src="{{ asset('keosu/res/tmp/splashscreens/android/splashscreenA320x436.png') }}">
    {{ form_row(form.splashscreens.splashscreenA320x436) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    320x470
</div>
<div id="A320x470">
    <img class="preview" id="previewA320x470" src="{{ asset('keosu/res/tmp/splashscreens/android/splashscreenA320x470.png') }}">
    {{ form_row(form.splashscreens.splashscreenA320x470) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    640x480
</div>
<div id="A640x480">
    <img class="preview" id="previewA640x480" src="{{ asset('keosu/res/tmp/splashscreens/android/splashscreenA640x480.png') }}">
    {{ form_row(form.splashscreens.splashscreenA640x480) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    960x720
</div>
<div id="A960x720">
    <img class="preview" id="previewA960x720" src="{{ asset('keosu/res/tmp/splashscreens/android/splashscreenA960x720.png') }}">
    {{ form_row(form.splashscreens.splashscreenA960x720) }}
</div>
<br class="clear"/>
<hr />




<h4>Splashscreens IOS</h4>

<div class="col-lg-3 configurelabel">
    320x480
</div>
<div id="I320x480">
    <img class="preview" id="previewI320x480" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI320x480.png') }}">
    {{ form_row(form.splashscreens.splashscreenI320x480) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    640x960
</div>
<div id="I640x960">
    <img class="preview" id="previewI640x960" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI640x960.png') }}">
    {{ form_row(form.splashscreens.splashscreenI640x960) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    640x1136
</div>
<div id="I640x1136">
    <img class="preview" id="previewI640x1136" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI640x1136.png') }}">
    {{ form_row(form.splashscreens.splashscreenI640x1136) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    1024x768
</div>
<div id="I1024x768">
    <img class="preview" id="previewI1024x768" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI1024x768.png') }}">
    {{ form_row(form.splashscreens.splashscreenI1024x768) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    768x1024
</div>
<div id="I768x1004">
    <img class="preview" id="previewI768x1024" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI768x1024.png') }}">
    {{ form_row(form.splashscreens.splashscreenI768x1024) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    2048x1536
</div>
<div id="I2048x1496">
    <img class="preview" id="previewI2048x1536" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI2048x1536.png') }}">
    {{ form_row(form.splashscreens.splashscreenI2048x1536) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    1536x2048
</div>
<div id="I1536x2048">
    <img class="preview" id="previewI1536x2048" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI1536x2048.png') }}">
    {{ form_row(form.splashscreens.splashscreenI1536x2048) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
750x1334
</div>
<div id="I750x1334">
	<img class="preview" id="previewI750x1334" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI750x1334.png') }}">
	{{ form_row(form.splashscreens.splashscreenI750x1334) }}
</div>
<br class="clear"/>
<hr />
<div class="col-lg-3 configurelabel">
	1242x2208
</div>
<div id="I1242x2208">
	<img class="preview" id="previewI1242x2208" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI1242x2208.png') }}">
	{{ form_row(form.splashscreens.splashscreenI1242x2208) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
	2208x1242
</div>
<div id="I2208x1242">
	<img class="preview" id="previewI2208x1242" src="{{ asset('keosu/res/tmp/splashscreens/ios/splashscreenI2208x1242.png') }}">
	{{ form_row(form.splashscreens.splashscreenI2208x1242) }}
</div>
<br class="clear"/>
<hr />




<script type="text/javascript">

    $("#A320x436").on("change",'input[type="file"]',function() {
        check(this,320,436,function(ok,x){
            if(ok){
                readURL(x,"previewA320x436");
            }else{
                x.value="";
            }
        });
    });

    $("#A320x470").on("change",'input[type="file"]',function() {
        check(this,320,470,function(ok,x){
            if(ok){
                readURL(x,"previewA320x470");
            }else{
                x.value="";
            }
        });
    });

    $("#A640x480").on("change",'input[type="file"]',function() {
        check(this,640,480,function(ok,x){
            if(ok){
                readURL(this,"previewA640x480");
            }else{
                x.value="";
            }
        });
    });

    $("#A960x720").on("change",'input[type="file"]',function() {
        check(this,960,720,function(ok,x){
            if(ok){
                readURL(this,"previewA960x720");
            }else{
                x.value="";
            }
        });
    });

    $("#I320x480").on("change",'input[type="file"]',function() {
        check(this,320,480,function(ok,x){
            if(ok){
                readURL(x,"previewA320x436");
            }else{
                x.value="";
            }
        });
    });

    $("#I640x960").on("change",'input[type="file"]',function() {
        check(this,640,960,function(ok,x){
            if(ok){
                readURL(this,"previewI640x960");
            }else{
                x.value="";
            }
        });
    });

    $("#I640x1136").on("change",'input[type="file"]',function() {
        check(this,640,1136,function(ok,x){
            if(ok){
                readURL(this,"previewI640x1136");
            }else{
                x.value="";
            }
        });
    });

    $("#I1024x768").on("change",'input[type="file"]',function() {
        check(this,1024,768,function(ok,x){
            if(ok){
                readURL(this,"previewI1024x768");
            }else{
                x.value="";
            }
        });
    });

    $("#I768x1024").on("change",'input[type="file"]',function() {
        check(this,768,1024,function(ok,x){
            if(ok){
                readURL(this,"previewI768x1024");
            }else{
                x.value="";
            }
        });
    });

    $("#I2048x1536").on("change",'input[type="file"]',function() {
        check(this,2048,1536,function(ok,x){
            if(ok){
                readURL(this,"previewI2048x1496")
            }else{
                x.value="";
            }
        });
    });

    $("#I1536x2048").on("change",'input[type="file"]',function() {
        check(this,1536,2048,function(ok,x){
            if(ok){
                readURL(this,"previewI1536x2008");
            }else{
                x.value="";
            }
        });
    });
	$("#I750x1334").on("change",'input[type="file"]',function() {
		check(this,740,1334,function(ok,x){
			if(ok){
				readURL(this,"previewI750x1334");
			}else{
				x.value="";
			}
		});
	});
	$("#I1242x2208").on("change",'input[type="file"]',function() {
		check(this,1242,2208,function(ok,x){
			if(ok){
				readURL(this,"previewI1242x2208");
			}else{
				x.value="";
			}
		});
	});
	$("#I2208x1242").on("change",'input[type="file"]',function() {
		check(this,2208,1242,function(ok,x){
			if(ok){
				readURL(this,"previewI2208x1242");
			}else{
				x.value="";
			}
		});
	});
</script>

