{# 	
	Keosu is an open source CMS for mobile app
	Copyright (C) 2016  Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}




<h4>Icons Android</h4>


<div class="col-lg-3 configurelabel">
    36x36
</div>
<div id="A3636">
    <img id="previewA36" src="{{ asset('keosu/res/tmp/icons/android/iconA36.png') }}">
    {{ form_row(form.icons.iconA36) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    48x48
</div>
<div id="A4848">
    <img id="previewA48" src="{{ asset('keosu/res/tmp/icons/android/iconA48.png') }}">
    {{ form_row(form.icons.iconA48) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    72x72
</div>
<div id="A7272">
    <img id="previewA72" src="{{ asset('keosu/res/tmp/icons/android/iconA72.png') }}">
    {{ form_row(form.icons.iconA72) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    96x96
</div>
<div id="A9696">
    <img id="previewA96" src="{{ asset('keosu/res/tmp/icons/android/iconA96.png') }}">
    {{ form_row(form.icons.iconA96) }}
</div>
<br class="clear"/>
<hr />


<h4>Icons IOS</h4>

<div class="col-lg-3 configurelabel">
    57x57
</div>
<div id="I5757">
    <img id="previewI57" src="{{ asset('keosu/res/tmp/icons/ios/iconI57.png') }}">
    {{ form_row(form.icons.iconI57) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    72x72
</div>
<div id="I7272">
    <img id="previewI72" src="{{ asset('keosu/res/tmp/icons/ios/iconI72.png') }}">
    {{ form_row(form.icons.iconI72) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    76x76
</div>
<div id="I7676">
    <img id="previewI76" src="{{ asset('keosu/res/tmp/icons/ios/iconI76.png') }}">
    {{ form_row(form.icons.iconI76) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    114x114
</div>
<div id="I114114">
    <img id="previewI114" src="{{ asset('keosu/res/tmp/icons/ios/iconI114.png') }}">
    {{ form_row(form.icons.iconI114) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    120x120
</div>
<div id="I120120">
    <img id="previewI120" src="{{ asset('keosu/res/tmp/icons/ios/iconI120.png') }}">
    {{ form_row(form.icons.iconI120) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    144x144
</div>
<div id="I144144">
    <img id="previewI144" src="{{ asset('keosu/res/tmp/icons/ios/iconI144.png') }}">
    {{ form_row(form.icons.iconI144) }}
</div>
<br class="clear"/>
<hr />

<div class="col-lg-3 configurelabel">
    152x152
</div>
<div id="I152152">
    <img id="previewI152" src="{{ asset('keosu/res/tmp/icons/ios/iconI152.png') }}">
    {{ form_row(form.icons.iconI152) }}
</div>
<br class="clear"/>
<hr />


<script type="text/javascript">

    $("#A3636").on("change",'input[type="file"]',function() {
        var x = check(this,36,36,function(ok,x){
            if(ok){
                readURL(x,"previewA36");
            }else{
                x.value="";
            }
        });

    });

    $("#A4848").on("change",'input[type="file"]',function() {
        check(this,48,48,function(ok,x){
            if(ok){
                readURL(x,"previewA48");
            }else{
                x.value="";
            }
        });
    });

    $("#A7272").on("change",'input[type="file"]',function() {
        check(this,72,72,function(ok,x){
            if(ok){
                readURL(x,"previewA72");
            }else{
                x.value="";
            }
        });
    });

    $("#A9696").on("change",'input[type="file"]',function() {
        check(this,96,96,function(ok,x){
            if(ok){
                readURL(x,"previewA96");
            }else{
                x.value="";
            }
        });
    });

    $("#I5757").on("change",'input[type="file"]',function() {
        check(this,57,57,function(ok,x){
            if(ok){
                readURL(x,"previewI57");
            }else{
                x.value="";
            }
        });
    });

    $("#I7272").on("change",'input[type="file"]',function() {
        check(this,72,72,function(ok,x){
            if(ok){
                readURL(x,"previewI72");
            }else{
                x.value="";
            }
        });
    });

    $("#I7676").on("change",'input[type="file"]',function() {
        check(this,76,76,function(ok,x){
            if(ok){
                readURL(x,"previewI76");
            }else{
                x.value="";
            }
        });
    });

    $("#I114114").on("change",'input[type="file"]',function() {
        check(this,114,114,function(ok,x){
            if(ok){
                readURL(x,"previewI114");
            }else{
                x.value="";
            }
        });
    });

    $("#I120120").on("change",'input[type="file"]',function() {
        check(this,120,120,function(ok,x){
            if(ok){
                readURL(x,"previewI120");
            }else{
                x.value="";
            }
        });
    });

    $("#I144144").on("change",'input[type="file"]',function() {
        check(this,144,144,function(ok,x){
            if(ok){
                readURL(x,"previewI144");
            }else{
                x.value="";
            }
        });
    });

    $("#I152152").on("change",'input[type="file"]',function() {
        check(this,152,152,function(ok,x){
            if(ok){
                readURL(x,"previewI152");
            }else{
                x.value="";
            }
        });
    });

</script>
