{# 	
	Keosu is an open source CMS for mobile app
	Copyright (C) 2014  Vincent Le Borgne, Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}
{% extends 'KeosuCoreBundle:MainViews:configuration.html.twig' %}

{% block title %}Edit App{% endblock %}

{% block body %}

<script type="text/javascript">
	$(document).ready(function() {
		$( ".radio" ).each(function( index ) {
			input = $(this).find('input');
			themeName=input.attr('value');
			input.attr('id',themeName);
			img='<label for="'+themeName+'"><img alt="'+themeName+'" src="{{url_base}}/{{ themeDir }}'+themeName+'/'+themeName+'.png"/></label>';
			
			$( this ).text("");
			$( this ).append(input);
			$( this ).append(img);
		});

		$(".imgtheme input[checked=checked]").parent(".radio").find("img").css("border","red solid 3px");
		
		// switch border color
		$(".imgtheme img").click(function(){
			$(".imgtheme img").css("border","none");
			$(this).css("border","red solid 3px");
		});
	});
	
	var _URL = window.URL || window.webkitURL;
	
	function check(files,width,height){
		var file, img;		
	    if ((file = files[0])) {
	        img = new Image();	  
	        img.onload = function () {     
	            if(this.width!=width || this.height!=height){
	            	alert("Warning: Width "+ width +" / Height "+ height +" expected");
	            }
	        };
	       }
	    img.src = _URL.createObjectURL(file);
	}
	
	
	function readURL(input,preview) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();
	
	        reader.onload = function (e) {
	            $('#'+preview).attr('src', e.target.result);
	        }
	
	        reader.readAsDataURL(input.files[0]);
	    }
	}
</script>

<style type="text/css">
.imgtheme .radio {
	display:inline;
	padding-left:0px;
	padding-right:10px;
}
.imgtheme img {
	height:250px;
}
.imgtheme .radio input[type="radio"]{
	display:none;
}
</style>
<div class="panel">
	<div class="row">
		
		<div class="col-md-12">
			{% if firstApp %}
			<div class="alert alert-success">
				<strong>Welcome to Keosu!</strong>
				To start, create your first app
			</div>
			{% endif %}
			<div class="panel">
				<h1>Edit App</h1>
				{{ form_start(form) }}
					{{ form_errors(form) }}

					<div class="col-lg-3 configurelabel">
						Name
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="Name of your application"></span>
						</a>
					</div>
					{{ form_row(form.name) }}
					<br class="clear"/>
					
					<div class="col-lg-3 configurelabel" title="This is my tooltip">
						Package Name
						<a title="">
							<span class="glyphicon glyphicon-info-sign"></span>
						</a>
					</div>
					{{ form_row(form.packageName) }}
					<br class="clear"/>
					
					<div class="col-lg-3 configurelabel">
						Description
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
						</a>
					</div>
					{{ form_row(form.description) }}
					<br class="clear"/><br class="clear"/>
					
					<div class="col-lg-3 configurelabel">
						Author (optional)
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
						</a>
					</div>
					{{ form_row(form.author) }}
					<br class="clear"/>
					
					<div class="col-lg-3 configurelabel">
						Website (optional)
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
						</a>
					</div>
					{{ form_row(form.website) }}
					<br class="clear"/>
					
					<div class="col-lg-3 configurelabel">
						Email (optional)
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
						</a>
					</div>
					{{ form_row(form.email) }}
					<br class="clear"/>

					<div class="col-lg-3 configurelabel">
						Private app (optional)
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="if the checkbox is checked only logged user can access to this app and a special authentication page is created."></span>
						</a>
					</div>
					{{ form_row(form.privateApp) }}
					<br class="clear"/>
					
					<div class="col-lg-3 configurelabel">
						Theme
						<a title="">
							<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
						</a>
					</div>
					<div class="imgtheme">
						{{ form_row(form.theme) }}
					</div>
					<br class="clear"/><br class="clear"/>
					
					
					<!-- Trigger Button HTML -->
					<input type="button" class="btn" data-toggle="collapse" data-target="#advanced" value="Advanced">
					<div id="advanced" class="collapse">
					
						<div class="col-lg-3 configurelabel">
							Facebook app id (optional)
							<a title="">
								<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
							</a>
						</div>
						{{ form_row(form.facebookAppId) }}
						<br class="clear"/>
						
						<div class="col-lg-3 configurelabel">
							Facebook app name(optional)
							<a title="">
								<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
							</a>
						</div>
						{{ form_row(form.facebookAppName) }}
						<br class="clear"/>
						
						<div class="col-lg-3 configurelabel" title="This is my tooltip">
							Facebook app secret (optional)
							<a title="">
								<span class="glyphicon glyphicon-info-sign" title="This is my tooltip"></span>
							</a>
						</div>
						{{ form_row(form.facebookAppSecret) }}
						<div class="col-lg-9">
							<span class="help-block">The three facebook field are only required if you plan to use facebook on your application. You can get the two required information <a href="https://developers.facebook.com/?ref=pf">here</a>.</span>
						</div>
						<br class="clear"/>
	
						<div class="col-lg-3 configurelabel">
							Debug mode (optional)
						</div>
						{{ form_row(form.debugMode) }}
						<div class="col-lg-9">
							<span class="help-block">This param allow to debug your app with <a href="https://people.apache.org/~pmuellr/weinre/docs/latest/Home.html">Weinre</a> on the port 8080.</span>
						</div>
						<br class="clear"/>
	
						<!-- Trigger Button HTML -->
						<input type="button" class="btn" data-toggle="collapse" data-target="#icons" value="Icons">
						<div id="icons" class="collapse">
						
							{% include 'KeosuCoreBundle:App:editIcones.html.twig' %}
							
						</div>
						<br class="clear"/><br class="clear"/>
						
						<!-- Trigger Button HTML -->
						<input type="button" class="btn" data-toggle="collapse" data-target="#splashscreens" value="Splashscreens">
						<div id="splashscreens" class="collapse">
						
							{% include 'KeosuCoreBundle:App:editSplashscreens.html.twig' %}
							
						</div></div>
						<br class="clear"/>
						
						{% include 'KeosuCoreBundle:App:editConfigParameters.html.twig' %}
						
					</div>
					
					<br class="clear"/><br class="clear"/>
					<input type="submit" class="btn btn-success" />&nbsp;<a class="confirmModal" href="javascript:history.go(-1);" ><button type="button" class="btn btn-danger">Cancel</button></a>
				{{ form_end(form) }}
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
