{#
	Keosu is an open source CMS for mobile app
	Copyright (C) 2014  Vincent Le Borgne, Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}
{% extends 'KeosuCoreBundle:MainViews:configuration.html.twig' %}

{% block title %}{% trans %}Edit App{% endtrans %}{% endblock %}

{% block body %}
    <script>
		$(document).ready(function () {
			themeButton("{{ url_base }}", "{{ themeDir }}");
		});

		var _URL = window.URL || window.webkitURL;
        /*
         *Test the size of an image uploaded
         *@param input : tag input controller
         *@param width : width expected
         *@param height : height expected
         *@param callback : function who upload the image if it's ok
         */
		function check(input, width, height, callback) {
			var file, img;
			if ((file = input.files[0])) {
				img = new Image();
				img.onload = function () {
					if (this.width != width || this.height != height) {
						alert("Warning: Width " + width + " / Height " + height + " expected");
						callback(0, input);
					} else {
						callback(1, input);
					}
				};
			}
			img.src = _URL.createObjectURL(file);
		}

        /*
         *Change the preview with the image uploaded
         *@param input : tag input controller
         *@param preview : string who contain the name of the marker "preview".
         */
		function readURL(input, preview) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#' + preview).attr('src', e.target.result);
				};

				reader.readAsDataURL(input.files[0]);
			}
		}
    </script>
    <div class="panel">
        <div class="row">
            <div class="col-md-12">
				{% if firstApp %}
                    <div class="alert alert-success">
                        <strong>{% trans %}Welcome to Keosu!{% endtrans %}</strong>
						{% trans %}To start, create your first app.{% endtrans %}
                    </div>
				{% endif %}
                <div class="panel">
                    <h1>{% trans %}Edit App{% endtrans %}</h1>
					{{ form_start(form) }}
					{{ form_errors(form) }}

                    <fieldset>
                        <legend>{% trans %}Main Params{% endtrans %}</legend>
						{{ form_row(form.name) }}
						{{ form_row(form.packageName) }}
						{{ form_row(form.version) }}
						{{ form_row(form.description) }}
						{{ form_row(form.author) }}
						{{ form_row(form.website) }}
						{{ form_row(form.email) }}

                        <div class="img-theme">
							{{ form_row(form.theme) }}
                        </div>
                    </fieldset>

                    <!-- Trigger Button HTML -->
                    <input type="button" class="btn btn-default" data-toggle="collapse" data-target="#advanced"
                           value="{% trans %}Advanced...{% endtrans %}">

                    <div id="advanced" class="collapse">
                        <fieldset>
							{{ form_row(form.debugMode) }}
                            <div class="row">
                                <div class="col-lg-9 col-lg-push-3">
                                    <span class="help-block">{% trans %}This param allow to debug your app with {% endtrans %}<a
                                                href="https://people.apache.org/~pmuellr/weinre/docs/latest/Home.html">Weinre</a> on the port 8080.</span>
                                </div>
                            </div>
                        </fieldset>

                        <!-- Trigger Button HTML -->
                        <input type="button" class="btn btn-default" data-toggle="collapse" data-target="#icons"
                               value="Icons...">

                        <div id="icons" class="collapse">
							{% include 'KeosuCoreBundle:App:editIcones.html.twig' %}
                        </div>
                        <br class="clear"/><br class="clear"/>

                        <!-- Trigger Button HTML -->
                        <input type="button" class="btn btn-default" data-toggle="collapse" data-target="#splashscreens"
                               value="Splash screens...">

                        <div id="splashscreens" class="collapse">
							{% include 'KeosuCoreBundle:App:editSplashscreens.html.twig' %}
                        </div>
                        <br class="clear"/>


						{% for p in packageToConfigure %}
							{{ includePanelAppConfig(p.name,p.type,null,attribute(form.configPackages,p.name) ) }}
						{% endfor %}

                        <!-- Trigger Button HTML -->
                        <input type="button" class="btn btn-default" data-toggle="collapse" data-target="#configXML"
                               value="Preferences...">

                        <div id="configXML" class="collapse">
                            <fieldset>
								{{ form_row(form.preferences) }}
                            </fieldset>
                        </div>
                        <br class="clear"/>
                    </div>

                    <br class="clear"/><br class="clear"/>
                    <input type="submit" class="btn btn-success"/>&nbsp;
                    <a class="confirmModal" href="javascript:history.go(-1);">
                        <button type="button" class="btn btn-danger">{% trans %}Cancel{% endtrans %}</button>
                    </a>
					{{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
