{# Extension of login page #}
{% extends '::root.html.twig' %}

{% block title %}Keosu Authentication{% endblock %}

{% block skeleton %}
<div class="logotop login-page" style="text-align:center; margin-top:120px;">
    <a href="http://keosu.com" title="Propulsed by Keosu" target="_blank">
        <img src="{{url_base}}/img/logo_black.png" width="110px" height="110px">
    </a>
</div>
	<div class="wellcustom" id="login-container">
		{% block fos_user_content %}
			{% if error %}
				<div class="alert alert-danger" role="alert">{{ error.getMessageKey() }}</div>
			{% endif %}
			<div class="container">
				<div class="logincontainer">
					<form action="{{ path("fos_user_security_check") }}" method="post">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

						<label for="username">Username:</label>
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

						<label for="password">Password</label>
						<input class="form-control" type="password" id="password" name="_password" required="required" />
						<br/>
						<input id="spinner-load" class="btn btn-login" type="submit" id="_submit" name="_submit" value="Login" />
					</form>
				</div>
			</div>
		{% endblock fos_user_content %}
	</div>
{% endblock %}
