{#
Keosu is an open source CMS for mobile app
Copyright (C) 2014  Vincent Le Borgne, Pockeit

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'KeosuCoreBundle::page.html.twig' %}

{% block title %}Publish{% endblock%}

{% block body %}

	<h2><span class="glyphicon glyphicon-send icon-menu"></span> {% trans %}Publish{% endtrans %}</h2>
	<div class="col-md-3">
		<div class="wellcustom">
			<h3><span class="glyphicon glyphicon-export icon-menu"></span>{% trans %}Export App{% endtrans %}</h3>
			<p>
				{% trans %}Export App before download the last version{% endtrans %}
			</p>
			<a href="{{ path('keosu_core_exporter_export') }}"><button id="export" type="button" data-loading-text="{% trans %}Loading...{% endtrans %}" class="btn btn-default">{% trans %}Export{% endtrans %}</button></a>
		</div>
	</div>

	<div class="col-md-3">
		<div class="wellcustom">
			<h3><img class="icon-cordova icon-menu" src="{{url_base}}/img/phonegap.png"/>{% trans %}Download app for phonegapbuild{% endtrans %}</h3>
			<p>
				{% trans %}You can import this zip file in https://build.phonegap.com/, test app on your phone and publish it to stores{% endtrans %}
			</p>
			<a href="{{url_base}}/keosu/export/phonegapbuild/export.zip"><button type="button" class="btn btn-default">{% trans %}Download{% endtrans %}</button></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="wellcustom">
			<h3><img class="icon-cordova icon-menu" src="{{url_base}}/img/cordova.png"/>{% trans %}Download app for Cordova{% endtrans %}</h3>
			<p>
				{% trans %}You can use import the zip file in www folder of an existing cordova project and test your app on your computer. You need to user this option if you want to use specific plugins{% endtrans %}
			</p>
			<a href="{{url_base}}/keosu/export/cordova/export.zip"><button type="button" class="btn btn-default">{% trans %}Download{% endtrans %}</button></a>
		</div>
	</div>

	<div class="col-md-3">
		<div class="wellcustom">
			<h3><span class="glyphicon glyphicon-save icon-menu"></span>{% trans %}Download config{% endtrans %}</h3>
			<p>
				{% trans %}Configuration files for a local cordova project{% endtrans %}
			</p>
			<a href="{{url_base}}/keosu/export/cordova/config.zip"><button type="button" class="btn btn-default">{% trans %}Download{% endtrans %}</button></a>
		</div>
	</div>

	<div class="col-md-3">
		<div class="wellcustom">
			<h3><span class="glyphicon glyphicon-usd icon-menu"></span>{% trans %}Submit and monetize a development{% endtrans %}</h3>
			<p>
				{% trans %}You can submit and sell your developments themes, plugins and widgets. Monetize your creations via the Keosu's Store{% endtrans %}
			</p>
			<a target="_blank" href="http://keosu.com/soumettre-un-developpement/?utm_source=keosu&utm_medium=cms&utm_term=soumettre&utm_campaign=soumettre%20dev"><button type="button" class="btn btn-default">{% trans %}Submit{% endtrans %}</button></a>
		</div>
	</div>

	<script>
		$('#export').click(function () {
			var btn = $(this);
			btn.html("Loading...");
			btn.addClass("btn-primary").removeClass("btn-default");
		});
	</script>
{% endblock %}
