	{# 	
	Keosu is an open source CMS for mobile app
	Copyright (C) 2014  Vincent Le Borgne, Pockeit

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    #}

{% extends 'KeosuCoreBundle::page.html.twig' %}

{% block title %}Publish{% endblock%}

{% block publishmenu %}

	<div class="activesidebartitle">
		<a href="{{ path('keosu_core_publish') }}"> 
				<span class="glyphicon glyphicon-cloud-upload"></span> Publish
		</a>
	</div>
{% endblock %}

{% block body %}

	<div class="col-md-3">
		<div class="wellcustom">
			<h3>Export App</h3>
			<p>
				Export App before download the last version
			</p>
			<a href="{{ path('keosu_core_exporter_export') }}"><button id="spinner-load" type="button" class="btn btn-default">Export</button></a>
		</div>
	</div>
	
	<div class="col-md-3">
		<div class="wellcustom">
			<h3>Download app for phonegapbuild</h3>
			<p>
				You can use the zip file directly in phonegap build plateform.
			</p>
			<a href="{{url_base}}/keosu/export/phonegapbuild/export.zip"<button type="button" class="btn btn-default">Download</button></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="wellcustom">
			<h3>Download app for IOS</h3>
			<p>
				You can use import the zip file in www folfer of an existing cordova project
			</p>
			<a href="{{url_base}}/keosu/export/ios/export.zip"><button type="button" class="btn btn-default">Download</button></a>
		</div>
	</div>

	<div class="col-md-3">
		<div class="wellcustom">
			<h3>Download app for Android</h3>
			<p>
				You can use import the zip file in www folfer of an existing cordova project
			</p>
			<a href="{{url_base}}/keosu/export/android/export.zip"><button type="button" class="btn btn-default">Download</button></a>
		</div>
	</div>
	<center><img id="spinner-loading" src="\keosu\web\img\loading.gif" alt="Loading"/></center>
	
{% endblock %}
