{% extends '::root.html.twig' %}

{% block title %}Keosu configure{% endblock %}

{% block skeleton %}
	<div class="col-md-2"></div>
	<div class="wellcustom col-md-8">
		<h1>Configuring your installation</h1>
		{% if connectionerror %}
			<p class="alert alert-danger">
				Can't connect to your database with this configuration, please check your configuration
				and try again
			</p>
		{% endif %}
	{{ form_start(form) }}
		<div class="col-lg-3 configurelabel">
			Database Host 
			<a class="badge remove-button" title="Host of your database, 127.0.0.1 or localhost for exemple">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</div>
	    	{{ form_row(form.databaseHost) }}
	    <br class="clear"/>
		<div class="col-lg-3 configurelabel">
			Database Name
			<a class="badge remove-button" title="Choose a name without space and without special characters">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</div>
	    	{{ form_row(form.databaseName) }}
	     <br class="clear"/>
	    <div class="col-lg-3 configurelabel">
			Database Port
			<a class="badge remove-button" title="Default port for Mysql is 3306">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</div>
	    {{ form_row(form.databasePort) }}
	     <br class="clear"/>
	    <div class="col-lg-3 configurelabel">
	   		 Database Username
	    	<a class="badge remove-button" title="The username you use to connect to your database">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
			
		</div>
	    {{ form_row(form.databaseUsername) }}
	     <br class="clear"/>
	    <div class="col-lg-3 configurelabel">
	    	Database Password
	    	<a class="badge remove-button" title="The password you use to connect to your database (leave blank if there is no password)">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>

		</div>
	    {{ form_row(form.databasePassword) }}
	     <br class="clear"/>

		<br class="clear"/>
		<br class="clear"/>
    	<input type="submit" class="btn btn-success" /><a class="confirmModal" href="javascript:history.go(-1);" ><button type="button" class="btn btn-danger">Cancel</button></a>
   	{{ form_end(form) }}
	
	</div>
	<div class="col-md-2"></div>


{% endblock %}